* {
  box-sizing: border-box;
  transition: 100ms;
  font-weight: lighter;
}

body {
  background-image: url(bgimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.main-box,
.roll-box {
  background-color: rgba(1,0,0,0.1);
  width: 1080px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.main-box {
   height: 450px;
   margin-top: 100px;
}

.roll-box {
   height: 40px;
   font-size: 15px;
   font-weight: lighter;
   line-height: 40px;
   color: rgba(250,250,250,0.5);
   border-style: none;
   border-top-style: dotted;
}

.main-box .title {
  color: rgba(250,250,250,0.5);
  height: 50px;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  background-color: rgba(1,0,0,0.1);
}

.main-box .timer {
  height: 340px;
  width: 1000px;
  margin: 20px auto;
  font-size: 30px;
  display: inline;
}

.main-box .timer .time-text {
  height: 200px;
  width: 200px;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgba(1,0,0,0.2);
  margin-top: 30px;
  font-size: 150px;
  text-align: center;
  background: transparent;
}

.main-box .timer #hourId {
  margin-left: 120px;
}

.main-box .timer input:focus {
  box-shadow: inset 0 0 4px rgba(1,0,0,0.2);
}

.main-box .timer .char-text {
  height: 50px;
  width: 80px;
  text-align: center;
  border: 0;
  outline: none;
  background-color: transparent;

}

.main-box .start-btn,
.main-box .stop-btn,
.main-box .reset-btn {
  height: 60px;
  width: 200px;
  display: inline-block;
  margin-top: 90px;
  margin-left: 90px;
}

.main-box .start-btn {
  margin-left: 120px;
}

.main-box button {
  height: 60px;
  width: 200px;
  color: #ddd;
  outline: 0;
  border: 0;
  font-size: 20px;
  border-radius: 3px;
  background-color: rgba(1,0,0,0.1);
  box-shadow: 1px 1px rgba(1,0,0,0.2);
}

.main-box button:hover {
  box-shadow: 1px 1px rgba(1,0,0,0.3);
}

.main-box button:active {
  box-shadow: 1.5px 1.5px 2px 2px rgba(1,0,0,0.3);
}
